


  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{usuarioLogueado.fotoPerfil}} style="height: 150px;" class="card-img" alt="...">
        <img *ngIf="usuarioLogueado.fotoPerfilDos" src={{usuarioLogueado.fotoPerfilDos}} class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h5 *ngIf="usuarioLogueado.especialista" class="card-title">Especialista</h5>
            <h5 *ngIf="usuarioLogueado.admin" class="card-title">Administrador</h5>
            <h5 *ngIf="usuarioLogueado.paciente" class="card-title">Paciente</h5>
            <p class="card-text"><strong>Nombre: </strong> {{usuarioLogueado.nombre}}</p>
            <p class="card-text"><strong>Apellido: </strong> {{usuarioLogueado.apellido}}</p>
            <p class="card-text"><strong>Email: </strong> {{usuarioLogueado.email}}</p>
            <p class="card-text"><strong>Fecha de creacion de cuenta: </strong> {{usuarioLogueado.fecha }}</p>
            <p><strong>Dni: </strong>{{usuarioLogueado.dni}}</p>
            <div *ngIf="usuarioLogueado.especialista">
                <strong>Especialidades: </strong>
                <div *ngFor="let esp of usuarioLogueado.descripcion">
                  {{esp}}
                    
                    <!-- <input type="datetime-local" [(ngModel)]="usuarioLogueado.disponibilidadEsp"> <input type="button" (click)="seleccionDispo(esp)" value="Agregar"> -->
                    
                </div>
                <div>

                  <strong>Agregar disponibilidad: </strong>
                  <label class="custom-control-label">Seleccione dia de la semana: </label>
                  <label class="custom-control-label"> {{sliderDiaSemanaString}}</label>
                  <br>
                  <input type="range" min="1" max="6" type="range" (change)="calcularSlider()" [(ngModel)]="sliderDiaSemana">
                  <br>
                  <label class="custom-control-label">Seleccione horario de comienzo de atencion: </label>
                  <label *ngIf="sliderHoraComienzo != undefined" class="custom-control-label"> {{sliderHoraComienzo}} hs</label>
                  <br>
                  <input type="range" min="8" max={{maxSliderHora}} type="range"  (change)="calcularSlider()"[(ngModel)]="sliderHoraComienzo">
                  <br>

                  <label class="custom-control-label">Seleccione cantidad de turnos a tomar: </label>
                  <label *ngIf="sliderCantTurnos != undefined" class="custom-control-label">  {{sliderCantTurnos}} turnos</label>
                  <br>
                  <input *ngIf="sliderHoraComienzo != 19" type="range" min="1" max={{maxSliderTurno}} type="range" (change)="calcularSlider()" [(ngModel)]="sliderCantTurnos">
                  
                  

                  
                  <div *ngFor="let esp of usuarioLogueado.descripcion">
                    
                    <button class="btn btn-primary" (click)="seleccionDispo(esp)">Agregar turno para {{esp}}</button>
                      
                      <!-- <input type="datetime-local" [(ngModel)]="usuarioLogueado.disponibilidadEsp"> <input type="button" (click)="seleccionDispo(esp)" value="Agregar"> -->
                      
                  </div>

                    <ng-select [(ngModel)]="especialidad" (change)="capturarSelectEspecialidad(especialidad)" >
                      <ng-option *ngFor="let esp of usuarioLogueado.descripcion"> {{esp}} </ng-option>
                    </ng-select>

                </div>
                <div *ngIf="especialidad">
                  
                  
                  <input type="date" [min]="minimo | date:'yyyy-MM-dd'" [max]="maximo" [(ngModel)]="fechaSeleccionada" (change)="mostrarHorarios()"> 
                  <div *ngIf="mostrarHorario">
                    <form>
                    
                    <div *ngFor="let hora of horariosAElegir">
                      <div class="custom-control custom-radio">
                        <input id="male" type="checkbox" class="custom-control-input" [value]="hora.hora" name="horario" ngModel (change)="capturarHora($event)">
                        <label class="custom-control-label" for={{hora.hora}}>{{hora.hora}}</label>
                     </div>
                     
                    </div>
                    <!-- <input type="button" (click)="seleccionDispo()" value="Agregar"> -->
                  </form>
                  </div>

                </div>
                <div *ngIf="disp != null">
                  <hr>
                  <strong>Fechas disponibles: </strong>
                  
                  <div *ngFor="let fecha of usuarioLogueado.disponibilidadEsp">
                    <p>{{fecha.especialidad}}</p> <p> {{fecha.fecha |date:"yyyy-MM-dd"}} </p>
                    <div *ngFor="let hora of fecha.horarios">
                      <p> {{hora.hora}} </p>

                    </div>
                    <hr>
                  </div>
  
                </div>
              </div>
                
        </div>
      </div>
    </div>
  </div>