<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-clip-rotate"
></ngx-spinner>
<div class="container">
    <div class="contenedorLista form" >

        <h5>Listado de usuarios especialistas</h5>

        <table class="table table-striped form-group">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Habilitar usuario</th>
                    <div *ngIf="mostrarBaja">
                        <th >Baja</th>

                    </div>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuariosEspecialistas;index as i">

                        <td *ngIf="!usuario.baja">{{usuario.apellido}}</td>
                        <td *ngIf="!usuario.baja">{{usuario.nombre}}</td>
                        <td *ngIf="!usuario.baja">{{usuario.email}}</td>
                        <!-- <td><button type="button" *ngIf="usuario.aprobadoPorAdmin"(click)="habilitar(usuario,i)">{{mensajeHabilitado}}</button> </td>
                                <td><button type="button" *ngIf="!usuario.aprobadoPorAdmin"(click)="habilitar(usuario,i)">{{mensajeDeshabilitado}}</button> </td> -->



                        <!-- <form [formGroup]="formGroupCheck"> -->
                            <!-- <div class="form-check" > -->
                        <td *ngIf="!usuario.aprobadoPorAdmin && !usuario.baja">
                            <!-- <label class="switch" >
                                <input name="check"  type="checkbox" ng-checked="usuario.aprobadoPorAdmin" [(ngModel)]="usuario.aprobadoPorAdmin" (change)="verificarChangeCheck(usuario,$event)">
                                <span class="slider round"></span>
                            </label> -->
                            <button class="btn btn-primary" (click)="habilitar(usuario)">
                                Habilitar
                            </button>

                        </td>
                        <td *ngIf="usuario.aprobadoPorAdmin && !usuario.baja" (click)="bajaUsuario(usuario)">
                            <button class="btn btn-primary">
                                Baja
                            </button>
                        </td>
                        <!-- </div> -->
                        <!-- <div class="row" *ngIf="!spinner"> -->
                        <!-- </div> -->

                    <!-- </form> -->


                    <!-- <button *ngIf="habilitado" (click)="deshabilitar(usuario,i)">{{mensajeBoton}}</button> -->
                    <!-- <td><button *ngIf="usuario.aprobadoPorAdmin" (click)="deshabilitar(usuario,i)">{{mensajeBoton}}</button></td> -->

                    <!-- <td><button (click)="aprobarUsuario(usuario,i)">Aprobar</button></td> -->
                    <!-- <td><button type="button" class="btn btn-info  btn-circle" (click)="mostrarDetalles(alumno)"><i class="fa fa-check"></i> -->
                        <!-- </button></td> -->
                    </tr>


                </tbody>
                <button type="submit" [routerLink]="'/ingreso/registro'">Nuevo usuario</button>
            </table>

    </div>

    <!-- <app-spinner [spinner]="spinnerPrueba"></app-spinner> -->
</div>