<hr>
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-2" *ngFor="let especialidad of especialidades">
      <a>
        <button class="button">
          <img class="bd-placeholder-img rounded-circle" width="100" height="100" src={{especialidad.img}} (click)="enviarEventoEspecialidad(especialidad.nombre)">

        </button>

      </a>

      <h4>{{especialidad.nombre}}</h4>
      <p></p>
      
    </div><!-- /.col-lg-4 -->
    
  </div>