/* .colorNav{
    position:fixed;
    top:0
} */
img{
    width: 80%;
    padding: 0;
}
ul{
    margin-top: 2%;
    
}
/* .navbar-toggler{
    background-color: #5eaaa8;
    color: #226b80 !important;
}
a{
    color: #4b778d;
    
} */
.loggedDiv{
    justify-content: flex-end;
    margin-left: 60%;
}
input[type=search]{
    width:430px !important;
    /* padding: 0 10%; */
}
a:hover{
    color: hsl(243, 80%, 62%);
}
.navbar-custom{
    background-color: #8fced9;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
/* .btn{
    background-color: #4b778d;
    color: #faffb8 !important;
    border: 0 !important;
}
.btn:hover{
    background-color: #35b0ab !important;
    
}
.btn:active{
    background: #35b0ab!important;
}
.btn:focus{
    background: #35b0ab!important;
} */


.borderFade {
    padding-bottom: 1px;
    color: hsl(222, 25%, 14%);
    position: relative;
}

.borderFade::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    bottom: 0;
    opacity: 0;
    transform: translateY(3px);
    background: hsl(243, 80%, 62%);
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.borderFade:hover::after {
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
  
    
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    
}
@media only screen and (max-width:500px) {
    /* For mobile phones: */
    a img{
        width: 10%;
    }
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: rgb(168, 28, 28);
  } 

.botonesAcceso{
    display: flex;
    flex-direction: row;

}
.bienvenido{
    color: hsl(243, 80%, 62%);
}
.contenedorLi{
    display: flex;
    flex-direction: row;

}