<div class="colorNav">

    <nav class="navbar navbar-custom navbar-expand-sm fixed-top custom-toggler">
      <button class="navbar-toggler ml-auto" type="button"
      data-toggle="collapse" 
      data-target="#navbarToggler" 
      aria-controls="navbarToggler"
      (click)="toggleNavbar = !toggleNavbar"
        aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon my-toggler"></span>
      </button>
      <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarToggler" [ngbCollapse]="toggleNavbar">
        <a class="navbar-brand" [routerLink]="'/'"><img src="assets/healthcare.png"></a>
        
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

          
          <li class="nav-item" *ngIf="!usuarioLogueado">
            <a [routerLink]="'ingreso/login'" routerLinkActive="active" class="nav-link borderFade">Login</a>
          </li>
          <li class="nav-item" *ngIf="!usuarioLogueado">
            <a [routerLink]="'ingreso/registro'" routerLinkActive="active" class="nav-link borderFade" >Registrarse</a>
          </li>
          
          <div *ngIf="usuarioLogueado != null" class="contenedorLi">
            <li class="nav-item" *ngIf="usuarioLogueado.admin">
              <a [routerLink]="'/admin'" routerLinkActive="active" class="nav-link borderFade">Administrar usuarios</a>
            </li>

            <li class="nav-item">
              <a class="nav-link borderFade" *ngIf="this.usuarioLogueado.paciente || this.usuarioLogueado.especialista" [routerLink]="'/misturnos'">Mis Turnos</a>
  
            </li>
            <li class="nav-item">
              <a class="nav-link borderFade" *ngIf="this.usuarioLogueado.admin" [routerLink]="'/misturnos'">Listado de turnos</a>
              
            </li>
            <li class="nav-item">
              <a class="nav-link borderFade" *ngIf="(this.usuarioLogueado != null && this.usuarioLogueado.paciente )|| (this.usuarioLogueado != null && this.usuarioLogueado.admin)" [routerLink]="'/solicitarTurno'">Solicitar Turno</a>
  
            </li>
            <li class="nav-item">
              <a class="nav-link borderFade" [routerLink]="'/miperfil'">Mi Perfil</a>
  
            </li>
            <li class="nav-item">
              <a class="nav-link borderFade" (click)="desloguear()" >Desloguear</a>
  
            </li>
            <div class="d-flex flex-row-reverse bd-highlight">
              <div class="p-2 bd-highlight bienvenido">
                <li>
                  <a>
                    Bienvenido: {{usuarioLogueado.nombre}}, {{usuarioLogueado.apellido}}
    
                  </a>
                </li>

              </div>

            </div>
          </div>
            
            
         
  
          <!-- <li class="nav-item">
            <a [routerLink]="'/encuesta'" routerLinkActive="active" class="nav-link borderFade">Encuesta</a>
          </li> -->
          
          <li class="nav-item">
            <div class="btn-group mr-3">
          
              <!-- <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
                <button class="btn btn-outline-secondary" ngbDropdownToggle>Juegos</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button ngbDropdownItem [routerLink]="'/juegos/ppt'">Piedra papel o tijera</button>
                  <button ngbDropdownItem [routerLink]="'/juegos/memotest'">Memotest</button>
                  <button ngbDropdownItem [routerLink]="'/juegos/tateti'">Ta te ti</button>
                  <button ngbDropdownItem [routerLink]="'/juegos/puzzle'">Rompecabezas deslizante</button>
                </div>
              </div> -->
            </div>
          </li>
        </ul>
  
        

        <!-- <div class="loggedDiv">

          <app-logged name="usuario" [usuario]="usuario" (eventoOcultarBotonesLogueo)="obtenerEventoBotonLogueo($event)"></app-logged>

        </div> -->
  
      </div>
    </div>
    </nav>
  </div>