<div class="div">

</div>
<div class="solicitarTurno">

    <div *ngIf="muestroEspecialidades">
    <h4>Seleccione un médico</h4>
    
    
    
    </div>
    <div >
        <app-listarmedicos [especialistas]="especialistas" 
        (eventoSeleccionMedico)="capturarMedicoSeleccion($event)"
         (eventoSeleccionEspecialidad)="capturarEspSeleccionada($event)">

        </app-listarmedicos>

    </div>
    <div *ngIf="usuarioLogueado.admin && seleccioneMedico">
        <app-listar-pacientes 
        [listadoPacientes]="pacientes"
        (eventoSeleccionPaciente)="capturarSeleccionPaciente($event)"
        >

        </app-listar-pacientes>
    </div>
    <div *ngIf="seleccioneMedico && seleccioneEspecialidad && seleccionePaciente">
        <app-listarturnos [listadoTurnos]="listadoTurnos"
        [especialidadSeleccionada]="especialidadSeleccionada"
        [medico]="medicoSeleccionado"
        (eventoSeleccionHorario)="capturarEventoTomarTurno($event)"
        >

        </app-listarturnos>
    </div>

    
</div>
